:root {
  --primary-color: #e85c91;
  --background: #fff9fb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  --border-left: 5px solid var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--background);
  line-height: 1.6;
}

header {
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.class {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.logo span {
  color: var(--primary-color);
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-list li a:hover {
  color: var(--primary-color);
}

.logo {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}

.logo span {
  color: var(--primary-color);
}

#apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 40px;
  min-height: 500px;
}

.foto {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apresentacao-conteudo p:first-of-type {
  color: var(--primary-color);
  font-weight: bold;
}

.apresentacao-conteudo {
  max-width: 550px;
}

.apresentacao-conteudo h1 {
  margin: 10px 0 15px;
  font-size: 2.8rem;
}

.apresentacao-conteudo > p {
  line-height: 1.6;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.redes-sociais a {
  text-decoration: none;
}

.redes-sociais i {
  font-size: 24px;
  color: var(--primary-color);
  transition: color 0.3s;
}

.redes-sociais i:hover {
  color: #333;
}

#sobre {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  gap: 50px;
}

#sobre h2 {
  width: 30%;
}

.sobre-conteudo {
  flex: 1;
  margin-left: 50px;
}

.sobre-conteudo p {
  line-height: 1.6;
}

.sobre-conteudo p + p {
  margin-top: 20px;
}

#sobre h2 span {
  color: var(--primary-color);
}

#projetos {
  margin-top: 20px;
  padding: 20px;
}

#projetos > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.projetos-lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projeto {
  width: calc(50% - 10px);

  display: flex;
  justify-content: space-between;
  gap: 20px;

  background-color: #fff;
  padding: 25px;

  border-radius: 15px;
  border-left: var(--border-left);
  box-shadow: var(--box-shadow);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.projeto:hover {
  transform: translateY(-4px);
}

.projeto-conteudo {
  flex: 1;
}

.projeto h3 {
  margin-bottom: 10px;
}

.projeto p {
  margin-bottom: 18px;
  line-height: 1.5;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  list-style: none;
}

.tecnologias li {
  width: auto;

  padding: 5px 10px;

  background-color: var(--primary-light);
  color: var(--primary-color);

  border-radius: 20px;

  font-size: 0.8rem;
  font-weight: bold;
}

.projeto-link {
  width: 40px;
  height: 40px;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--primary-light);
  color: var(--primary-color);

  text-decoration: none;

  transition: 0.2s ease;
}

.projeto-link i {
  font-size: 18px;
}

.projeto-link:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#habilidades {
  margin-top: 20px;
  padding: 20px;
}

#habilidades ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#habilidades li,
.tecnologias li {
  margin: 10px;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 50px;
}

#habilidades i {
  font-size: 14px;
  margin: 10px;
  color: #fff;
  align-items: center;
  text-align: center;
}

#experiencia {
  margin-top: 20px;
  padding: 20px;
}

#experiencia h3 {
  margin-bottom: 5px;
}

#experiencia p {
  margin-bottom: 10px;
}

#experiencia ul {
  margin-left: 20px;
}

#experiencia li {
  margin-bottom: 5px;
}

.experiencia-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  border-left: var(--border-left);
  box-shadow: var(--box-shadow);
}

#formacao {
  margin-top: 20px;
  padding: 40px 20px;
}

#formacao h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.formacao-item {
  display: flex;
  gap: 25px;

  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  border-left: var(--border-left);
  box-shadow: var(--box-shadow);
}

.formacao-icone {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  background-color: var(--primary-color);
  border-radius: 50%;
}

.formacao-icone i {
  color: #fff;
  font-size: 25px;
}

.formacao-conteudo h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.formacao-conteudo .instituicao {
  margin-bottom: 8px;
  color: #555;
}

.formacao-conteudo .periodo {
  color: var(--primary-color);
  font-weight: bold;
}

#contato {
  margin: 20px auto 0;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 50%;
  box-shadow: var(--box-shadow);
}
#contato form {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#contato form label {
  margin-bottom: 5px;
  font-weight: bold;
}

#contato button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#contato button:hover {
  background-color: #d14c7a;
}

#contato form input,
#contato form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #333;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

section {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
  }

  .projeto {
    width: 100%;
  }
}
